body{
  background: rgb(0, 58, 0);
  color:white;
  font-family: Helvetica;
  font-weight: 300;
}

.bar-box{
  background: grey;
  width:80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:20px 0;
}
.bar-box div p{
  /* background:black; */
  background: rgb(143, 73, 73);
  border:2px solid black;
  border-radius: 10px;
}

table{
  max-width: 80%;
  background:rgb(0, 58, 0);
  display: block;
  margin: 0 auto;
  padding:10px;
}

th, td{
  border:1px solid white;
  border-radius: 5px;
  max-width: 30vw;
  padding:10px;
  transition: 0.3s;
}
td:hover{
  background-color: white;
  color:green;
}

th:hover{
  background-color: white;
  color:green;
}

a{
  color:white;
  outline: none;
  text-decoration:none;
}
a:hover{
  color:green;
  outline: none;
  text-decoration:none;
}

.filter-container{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input{
  height:2em;
  width:50%;

}

button{
  background: rgb(0, 58, 0);
  border: 1px solid white;
  color:white;
  border-radius: 5px;
  padding:8px;
  transition:0.3s;
  margin:0 20px;
}

button:hover{
  background: white;
  color:green;
  border: 1px solid green;
}

.search-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.stats{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats-box{
  padding:2em 1em;
  background:rgb(222, 186, 107);
  border:2px solid white;
  border-radius:0.5em;
}